nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

nav a {
    font-weight: bold;
    color: #2C3E50;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    max-width: 100%;
    width: 200px;
}

.signout-container {
    display: flex;
    flex-direction: row;
}

.nav-login {
    margin-right: 0.5rem;
}

.nav-login:hover {
    text-decoration: underline;
}

.nav-login svg {
    margin-right: 5px;
}